@import url("../src/styles/layout.css");
@import url("../src/styles/normalize.css");
@import url("../src/styles/inputs.css");
@import url("../src/styles/cards.css");

:root {
  --silver: rgb(225, 224, 224);
  --black: black;
  --white: white;
  --gray: gray;
}
