:root {
  --silver: rgb(225, 224, 224);
  --black: black;
  --white: white;
  --gray: gray;
}

html,
ul,
li,
.items {
  padding: 0;
  margin: 0;
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: var(--silver);
}
.avatar {
  border: 1px solid var(--silver);
  border-radius: 100%;
  padding: 5px;
  margin-top: 10px;
}
.card-content li,
.items {
  list-style: none;
  color: var(--gray);
  font-size: x-small;
  text-align: left;
  padding: 1px 15px;
}

.name {
  padding: 4px 0;
  font-weight: bold;
  color: var(--black);
  font-size: x-large;
}
.card-content {
  display: flex;
  border-bottom: 1px solid var(--silver);
  padding-bottom: 8px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  overflow: auto;
  margin-top: 10%;
  background-color: var(--white);
  border: 1px solid var(--silver);
  border-radius: 5px;
  box-shadow: 0.5px 0.5px 1px grey;
}
::-webkit-scrollbar {
  width: 1px;
}
/* ///////////// */

textarea,
input {
  outline: none;
}
.input-box {
  margin: 10px 4px 0 4px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1.5px solid var(--silver);
}
.student-details {
  margin: 5px 0;
}
.toggleView {
  display: none;
}
.flexRow {
  display: flex;
  justify-content: space-between;
}
.expand-btn {
  border: none;
  background-color: var(--white);
  color: var(--silver);
  font-size: x-large;
}
.flexRow {
  margin-left: -15px;
}
.tags-container {
  text-align: initial;
  margin-top: 7px;
}
.tags-container ul {
  display: flex;
}
.tags-container li {
  background-color: var(--silver);
  padding: 7px;
  margin-right: 3px;
  border-radius: 3px;
}
.add-input {
  margin: 8px 0;
  padding-bottom: 8px;
  border: none;
  border-bottom: 1.5px solid var(--silver);
}
input:focus {
  border-bottom: 1.5px solid var(--black);
}

::placeholder {
  color: var(--black);
  opacity: 0.35;
}
:-ms-input-placeholder {
  color: var(--black);
}
::-ms-input-placeholder {
  color: var(--black);
}
