@import url("../src/Styles/layout.css");
@import url("../src/Styles/normalize.css");
@import url("../src/Styles/inputs.css");
@import url("../src/Styles/cards.css");

:root {
  --silver: rgb(225, 224, 224);
  --black: black;
  --white: white;
  --gray: gray;
}
